# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

*.test

*.out

!vendor/**/zz_generated.*

.idea
*.swp
*.swo
*~

/manager
argo-cd

kubebuilder-tools-*
.kube/
.vscode
*.terraform
/.terraform
*tfstate
desktop.ini
_cluster/k3s/.*
_cluster/k3s/*.log
_cluster/k3s/node-token
*.tfstate
*.tfstate.backup
.terraform/
.terraform*